<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>404-We-Found</title>
    <link rel="stylesheet" th:href="@{/css/login-signup.css}" type="text/css">
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<div id="container">
    <div id="login_signup_area">
        <h1>로그인</h1>
        <img class="logo_404" th:src="@{/img/logo_404.png}" alt="">
        <form id="login_signup_form" action="/loginProc" method="post" name="loginForm">
            <input id="email" type="text" name="email" placeholder="userId"/>
            <input id="password" type="password" name="password" placeholder="password"/>
            <input type="submit" value="login"/>
        </form>
    </div>
    <p class="button_info">404 We Found가 처음이신가요?</p>
    <a href="/join"><button type="button">회원가입</button></a>
    <p class="button_info">비밀번호가 기억나지 않나요?</p>
    <a href="#"><button type="button">비밀번호 찾기</button></a>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
