<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css" />
    <title>404-We-Found</title>
</head>

<body>

<header id="top_ba">
    <div id="top_ba_container">
        <a href="#">
            <img class="logo_404" th:src="@{/img/logo_404.png}" alt="">
        </a>
        <ol id="top_menu">
            <li>About</li>
            <li>Product</li>
            <li>For Teams</li>
        </ol>
        <form id="search" role="search" action="/search">
            <!--      <img src="img/돋보기.png" alt="돋보기 이미지">-->
            <input id="search_input" type="text" placeholder="검색해보세요 !">
        </form>
        <nav id="login_signup_nav">
            <ol>
                <li>
                    <a href="">
                        <button id="loginBtn" class="whiteBtn">login</button>
                    </a>
                </li>
                <li>
                    <a href="">
                        <button id="signupBtn" class="blueBtn">signup</button>
                    </a>
                </li>
            </ol>
        </nav>
    </div>
</header>

<div id="container">

    <div id="side_menu">
        <div id="side_menu_section">
            <nav>
                <ol class="nav_lnk">
                    <li class="home">홈</li>
                    <li class="board">게시판</li>
                    <li class="user">내 정보</li>
                </ol>
            </nav>
        </div>
    </div>

    <div id="content">
        <div id="main_bar">
            <div id="main_title">
                <h1><strong>질문 게시판</strong></h1>

                <div>
                    <a href="">
                        <button id="AskBtn" class="blueBtn">질문 있어요 !</button>
                    </a>
                </div>
            </div>

            <div id="post_summary">
                <!--          post_summary_unit 단위로 아래로 계속 생성-->
                <div class="post_summary_unit">
                    <img class="user_img" th:src="@{/img/logo_404.png}" alt="">
                    <div class="post_summary_group">
                        <p class="summary_title">제목입니다. sampleDummy</p>
                        <p class="summary_content">내용입니다.sampleDummysampleDummy</p>
                    </div>
                    <div class="number_of_reply">답변 : 3</div>
                    <div class="footer_summary_group">
                        <div class="language">Python</div>
                        <div class="post_time">10:53 AM</div>
                    </div>
                </div>

                <!--        계속 생성-->

            </div>

        </div>
    </div>

</div>
<footer></footer>
</body>
</html>
