<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404-We-Found</title>
    <link rel="stylesheet" th:href="@{/css/login-signup.css}" type="text/css">
</head>
<body>

<header id="top_ba">
    <div id="top_ba_container">
        <a href="#">
            <img class="logo_404" th:src="@{/img/logo_404.png}" alt="">
        </a>
        <ol id="top_menu">
            <li><a href="/mypage">마이페이지</a></li>
            <li>Product</li>
            <li>For Teams</li>
        </ol>
        <form id="search" role="search" action="/search">
            <!--      <img src="img/돋보기.png" alt="돋보기 이미지">-->
            <input id="search_input" type="text" placeholder="검색해보세요 !">
        </form>
        <nav id="login_signup_nav">
            <ol>
                <li>
                    <a href="/login">
                        <button id="loginBtn" class="whiteBtn">login</button>
                    </a>
                </li>
                <li>
                    <a href="/signup">
                        <button id="signupBtn" class="blueBtn">signup</button>
                    </a>
                </li>
            </ol>
        </nav>
    </div>
</header>
<main> <!-- main 태그 추가 -->
    마이페이지입니다. 여기서 회원정보를 확인하실 수 있습니다.
    <hr>
    환영합니다. <span th:text="${nickname}"></span>님 ! <br>
    닉네임: <span th:text="${nickname}"></span><br>
    등급: <span th:text="${role}"></span><br>
    이메일: <span th:text="${email}"></span><br>
    <br>
    여기서 할 수 있는 기능은 다음과 같습니다.<br>
    - 회원 정보 수정<br>
    - 회원 탈퇴 <br>
    - 회원 등급<br>
    - 회원 포인트<br>
    - 다음 등급까지 필요한 포인트<br>
    - 회원 등급에 따른 권한<br>

    <form id="withdrawForm" th:action="@{/withdraw}" method="post">
        <button type="button" onclick="confirmWithdrawal()">회원 탈퇴</button>
    </form>
</main> <!-- main 태그 종료 -->

<footer></footer>
<script th:src="@{/scripts/userWithdraw.js}"></script>
</body>
</html>
